<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div align="center"><h1>This page contains all the blogs.</h1></div>
<div align="center" style="overflow-x:hidden;">
    {% for blog in blogs %}
    <img src="{{ blog.image.url }}" width="300" height="250">
    <hr>
    <h2>{{ blog.title }}
    </h2>
    <h5>{{ blog.publish_time }}</h5>
    <hr>
    <h3><i>{{ blog.description }}</i></h3>
    {% endfor %}
</div>
</body>
</html>