<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div align="center">
    <h1>
        <b>Portfolio</b>
    </h1>
    <div>
        {% for project in projects %}
        <img src="{{ project.image.url }}">
        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>
        <h2>
            {% if project.url %}
            <a href="{{ project.url }}" target="_blank" rel="noopener noreferrer">Link</a>
            {% endif %}
            {% endfor %}
        </h2>
    </div>
</div>
</body>
</html>